---
ecmaFeatures:
  modules: true

env:
  es6: true
  browser: true
  node: true

rules:
  indent: [2, 2] # 2 spaces indentation
  max-len: [2, 80, 4]
  quotes: [2, "double"]
  semi: [2, "never"]
  no-multiple-empty-lines: [2, {"max": 1}]

  brace-style: [2, "stroustrup"]
  comma-dangle: [2, "always-multiline"]
  comma-style: [2, "last"]
  computed-property-spacing: [2, "never"]
  object-curly-spacing: [2, "never"]
  array-bracket-spacing: [2, "never"]
  dot-location: [2, "property"]

  one-var: [2, "never"]
  no-bitwise: [2]

  space-after-keywords: [2, "always"]
  space-before-blocks: [2, "always"]
  space-before-function-paren: [2, "never"]
  space-in-parens: [2, "never"]
  spaced-comment: [2, "always"]

  # this plugin need a refactoring...
  no-use-before-define: 0
