@import "http://css" (min-width: 25em);
@import "http://css-screen" (min-width: 25em) and screen;
@import "http://css";
@import "https://css";
@import 'http://css';
@import 'https://css';
@import url(http://css);
@import url(https://css);
@import url("http://css");
@import url("https://css");
@import url('http://css');
@import url('https://css');
@import url("//css");
@import url('//css');
@import url(//css);
@media (min-width: 25em){
ignore{}
}
content{}
