@import "http://css" layer(import-anon-layer-0.import-anon-layer-1.import-anon-layer-8) screen;
@import "http://css-bar" layer(import-anon-layer-0.import-anon-layer-1.bar) screen;
@import "http://css" layer(import-anon-layer-3.import-anon-layer-4.import-anon-layer-9);
@import "http://css-bar" layer(import-anon-layer-3.import-anon-layer-4.bar);
@import "http://css" layer(named-layer-1.import-anon-layer-6.import-anon-layer-10);
@import "http://css-bar" layer(named-layer-1.import-anon-layer-6.bar);
@import "http://css-top-level" layer;
@media screen{
@layer import-anon-layer-0{
@layer import-anon-layer-1{
@media (min-width: 320px){
@layer import-anon-layer-2{
@layer Z {
  body {
    color: cyan;
  }
}
}
}
}
}
}
@media screen{
@layer import-anon-layer-0{
@layer import-anon-layer-1{

@layer Y {
  body {
    color: purple;
  }
}
}
}
}
@media screen{
@layer import-anon-layer-0{

body {
  order: 1;
}

@media (min-width: 50rem) {
  body {
    order: 2;
  }
}

@keyframes RED_TO_BLUE {
  0% {
    background-color: red;
  }
  100% {
    background-color: blue;
  }
}

@supports (display: grid) {
  body {
    display: grid;
    order: 3;
  }
}

@layer A {
  body {
    order: 4;
  }
}
}
}
@layer import-anon-layer-3{
@layer import-anon-layer-4{
@media (min-width: 320px){
@layer import-anon-layer-5{
@layer Z {
  body {
    color: cyan;
  }
}
}
}
}
}
@layer import-anon-layer-3{
@layer import-anon-layer-4{

@layer Y {
  body {
    color: purple;
  }
}
}
}
@layer import-anon-layer-3{

body {
  order: 1;
}

@media (min-width: 50rem) {
  body {
    order: 2;
  }
}

@keyframes RED_TO_BLUE {
  0% {
    background-color: red;
  }
  100% {
    background-color: blue;
  }
}

@supports (display: grid) {
  body {
    display: grid;
    order: 3;
  }
}

@layer A {
  body {
    order: 4;
  }
}
}
@layer named-layer-1{
@layer import-anon-layer-6{
@media (min-width: 320px){
@layer import-anon-layer-7{
@layer Z {
  body {
    color: cyan;
  }
}
}
}
}
}
@layer named-layer-1{
@layer import-anon-layer-6{

@layer Y {
  body {
    color: purple;
  }
}
}
}
@layer named-layer-1{

body {
  order: 1;
}

@media (min-width: 50rem) {
  body {
    order: 2;
  }
}

@keyframes RED_TO_BLUE {
  0% {
    background-color: red;
  }
  100% {
    background-color: blue;
  }
}

@supports (display: grid) {
  body {
    display: grid;
    order: 3;
  }
}

@layer A {
  body {
    order: 4;
  }
}
}
