@import 'data:text/css;base64,QGltcG9ydCAnZGF0YTp0ZXh0L2NzcztiYXNlNjQsUUdsdGNHOXlkQ0FpYUhSMGNEb3ZMMk56Y3lJZ2JHRjVaWElvYVcxd2IzSjBMV0Z1YjI0dGJHRjVaWEl0TUNrZ2MyTnlaV1Z1JyBsYXllcihpbXBvcnQtYW5vbi1sYXllci04KQ==' layer(import-anon-layer-1);
@import 'data:text/css;base64,QGltcG9ydCAnZGF0YTp0ZXh0L2NzcztiYXNlNjQsUUdsdGNHOXlkQ0FpYUhSMGNEb3ZMMk56Y3kxaVlYSWlJR3hoZVdWeUtHbHRjRzl5ZEMxaGJtOXVMV3hoZVdWeUxUQXBJSE5qY21WbGJnPT0nIGxheWVyKGJhcik=' layer(import-anon-layer-1);
@import 'data:text/css;base64,QGltcG9ydCAnZGF0YTp0ZXh0L2NzcztiYXNlNjQsUUdsdGNHOXlkQ0FpYUhSMGNEb3ZMMk56Y3lJZ2JHRjVaWElvYVcxd2IzSjBMV0Z1YjI0dGJHRjVaWEl0TXlrPScgbGF5ZXIoaW1wb3J0LWFub24tbGF5ZXItOSk=' layer(import-anon-layer-4);
@import 'data:text/css;base64,QGltcG9ydCAnZGF0YTp0ZXh0L2NzcztiYXNlNjQsUUdsdGNHOXlkQ0FpYUhSMGNEb3ZMMk56Y3kxaVlYSWlJR3hoZVdWeUtHbHRjRzl5ZEMxaGJtOXVMV3hoZVdWeUxUTXAnIGxheWVyKGJhcik=' layer(import-anon-layer-4);
@import 'data:text/css;base64,QGltcG9ydCAnZGF0YTp0ZXh0L2NzcztiYXNlNjQsUUdsdGNHOXlkQ0FpYUhSMGNEb3ZMMk56Y3lJZ2JHRjVaWElvYm1GdFpXUXRiR0Y1WlhJdE1Taz0nIGxheWVyKGltcG9ydC1hbm9uLWxheWVyLTEwKQ==' layer(import-anon-layer-6);
@import 'data:text/css;base64,QGltcG9ydCAnZGF0YTp0ZXh0L2NzcztiYXNlNjQsUUdsdGNHOXlkQ0FpYUhSMGNEb3ZMMk56Y3kxaVlYSWlJR3hoZVdWeUtHNWhiV1ZrTFd4aGVXVnlMVEVwJyBsYXllcihiYXIp' layer(import-anon-layer-6);
@import "http://css-top-level" layer;
@media screen{
@layer import-anon-layer-0{
@layer import-anon-layer-1{
@media (min-width: 320px){
@layer import-anon-layer-2{
@layer Z {
  body {
    color: cyan;
  }
}
}
}
}
}
}
@media screen{
@layer import-anon-layer-0{
@layer import-anon-layer-1{

@layer Y {
  body {
    color: purple;
  }
}
}
}
}
@media screen{
@layer import-anon-layer-0{

body {
  order: 1;
}

@media (min-width: 50rem) {
  body {
    order: 2;
  }
}

@keyframes RED_TO_BLUE {
  0% {
    background-color: red;
  }
  100% {
    background-color: blue;
  }
}

@supports (display: grid) {
  body {
    display: grid;
    order: 3;
  }
}

@layer A {
  body {
    order: 4;
  }
}
}
}
@layer import-anon-layer-3{
@layer import-anon-layer-4{
@media (min-width: 320px){
@layer import-anon-layer-5{
@layer Z {
  body {
    color: cyan;
  }
}
}
}
}
}
@layer import-anon-layer-3{
@layer import-anon-layer-4{

@layer Y {
  body {
    color: purple;
  }
}
}
}
@layer import-anon-layer-3{

body {
  order: 1;
}

@media (min-width: 50rem) {
  body {
    order: 2;
  }
}

@keyframes RED_TO_BLUE {
  0% {
    background-color: red;
  }
  100% {
    background-color: blue;
  }
}

@supports (display: grid) {
  body {
    display: grid;
    order: 3;
  }
}

@layer A {
  body {
    order: 4;
  }
}
}
@layer named-layer-1{
@layer import-anon-layer-6{
@media (min-width: 320px){
@layer import-anon-layer-7{
@layer Z {
  body {
    color: cyan;
  }
}
}
}
}
}
@layer named-layer-1{
@layer import-anon-layer-6{

@layer Y {
  body {
    color: purple;
  }
}
}
}
@layer named-layer-1{

body {
  order: 1;
}

@media (min-width: 50rem) {
  body {
    order: 2;
  }
}

@keyframes RED_TO_BLUE {
  0% {
    background-color: red;
  }
  100% {
    background-color: blue;
  }
}

@supports (display: grid) {
  body {
    display: grid;
    order: 3;
  }
}

@layer A {
  body {
    order: 4;
  }
}
}
