@import 'data:text/css;base64,QGltcG9ydCAnZGF0YTp0ZXh0L2NzcztiYXNlNjQsUUdsdGNHOXlkQ0FpYUhSMGNEb3ZMMk56Y3lJZ2JHRjVaWElnYzJOeVpXVnUnIGxheWVy' layer;
@import 'data:text/css;base64,QGltcG9ydCAnZGF0YTp0ZXh0L2NzcztiYXNlNjQsUUdsdGNHOXlkQ0FpYUhSMGNEb3ZMMk56Y3kxaVlYSWlJR3hoZVdWeUlITmpjbVZsYmc9PScgbGF5ZXIoYmFyKQ==' layer;
@import 'data:text/css;base64,QGltcG9ydCAnZGF0YTp0ZXh0L2NzcztiYXNlNjQsUUdsdGNHOXlkQ0FpYUhSMGNEb3ZMMk56Y3lJZ2JHRjVaWEk9JyBsYXllcg==' layer;
@import 'data:text/css;base64,QGltcG9ydCAnZGF0YTp0ZXh0L2NzcztiYXNlNjQsUUdsdGNHOXlkQ0FpYUhSMGNEb3ZMMk56Y3kxaVlYSWlJR3hoZVdWeScgbGF5ZXIoYmFyKQ==' layer;
@import 'data:text/css;base64,QGltcG9ydCAnZGF0YTp0ZXh0L2NzcztiYXNlNjQsUUdsdGNHOXlkQ0FpYUhSMGNEb3ZMMk56Y3lJZ2JHRjVaWElvYm1GdFpXUXRiR0Y1WlhJdE1Taz0nIGxheWVy' layer;
@import 'data:text/css;base64,QGltcG9ydCAnZGF0YTp0ZXh0L2NzcztiYXNlNjQsUUdsdGNHOXlkQ0FpYUhSMGNEb3ZMMk56Y3kxaVlYSWlJR3hoZVdWeUtHNWhiV1ZrTFd4aGVXVnlMVEVwJyBsYXllcihiYXIp' layer;
@import "http://css-top-level" layer;
@media screen{
@layer{
@layer{
@media (min-width: 320px){
@layer{
@layer Z {
  body {
    color: cyan;
  }
}
}
}
}
}
}
@media screen{
@layer{
@layer{

@layer Y {
  body {
    color: purple;
  }
}
}
}
}
@media screen{
@layer{

body {
  order: 1;
}

@media (min-width: 50rem) {
  body {
    order: 2;
  }
}

@keyframes RED_TO_BLUE {
  0% {
    background-color: red;
  }
  100% {
    background-color: blue;
  }
}

@supports (display: grid) {
  body {
    display: grid;
    order: 3;
  }
}

@layer A {
  body {
    order: 4;
  }
}
}
}
@layer{
@layer{
@media (min-width: 320px){
@layer{
@layer Z {
  body {
    color: cyan;
  }
}
}
}
}
}
@layer{
@layer{

@layer Y {
  body {
    color: purple;
  }
}
}
}
@layer{

body {
  order: 1;
}

@media (min-width: 50rem) {
  body {
    order: 2;
  }
}

@keyframes RED_TO_BLUE {
  0% {
    background-color: red;
  }
  100% {
    background-color: blue;
  }
}

@supports (display: grid) {
  body {
    display: grid;
    order: 3;
  }
}

@layer A {
  body {
    order: 4;
  }
}
}
@layer named-layer-1{
@layer{
@media (min-width: 320px){
@layer{
@layer Z {
  body {
    color: cyan;
  }
}
}
}
}
}
@layer named-layer-1{
@layer{

@layer Y {
  body {
    color: purple;
  }
}
}
}
@layer named-layer-1{

body {
  order: 1;
}

@media (min-width: 50rem) {
  body {
    order: 2;
  }
}

@keyframes RED_TO_BLUE {
  0% {
    background-color: red;
  }
  100% {
    background-color: blue;
  }
}

@supports (display: grid) {
  body {
    display: grid;
    order: 3;
  }
}

@layer A {
  body {
    order: 4;
  }
}
}
