@media screen {
rule-one {}

rule-two {}
}

@media screen and (min-width: 50rem) {
  rule-three {}

  rule-four {}
}

@media screen {

rule-five {}

rule-six {}
}

@layer import-anon-layer-0 {

rule-one {}

rule-two {}
}

@layer import-anon-layer-0 {

@media (min-width: 50rem) {
  rule-three {}

  rule-four {}
}
}

@layer import-anon-layer-0 {

rule-five {}

rule-six {}
}

@layer import-anon-layer-1 {
rule-one {}

rule-two {}
}

@layer import-anon-layer-1 {

@media (min-width: 50rem) {
  rule-three {}

  rule-four {}
}
}

@layer import-anon-layer-1 {

rule-five {}

rule-six {}
}

@layer named {

rule-one {}

rule-two {}
}

@layer named {

@media (min-width: 50rem) {
  rule-three {}

  rule-four {}
}
}

@layer named {

rule-five {}

rule-six {}
}
