@media screen and (min-width: 320px) {
@layer import-anon-layer-0.import-anon-layer-1.import-anon-layer-2 {
@layer Z {
  body {
    color: cyan;
  }
}
}
}

@media screen {
@layer import-anon-layer-0.import-anon-layer-1 {

@layer Y {
  body {
    color: purple;
  }
}
}
}

@media screen {
@layer import-anon-layer-0 {

body {
  order: 1;
}
}
}

@media screen {
@layer import-anon-layer-0 {

@media (min-width: 50rem) {
  body {
    order: 2;
  }
}
}
}

@media screen {
@layer import-anon-layer-0 {

@keyframes RED_TO_BLUE {
  0% {
    background-color: red;
  }
  100% {
    background-color: blue;
  }
}

@supports (display: grid) {
  body {
    display: grid;
    order: 3;
  }
}

@layer A {
  body {
    order: 4;
  }
}
}
}

@media (min-width: 320px) {
@layer import-anon-layer-3.import-anon-layer-4.import-anon-layer-5 {

@layer Z {
  body {
    color: cyan;
  }
}
}
}

@layer import-anon-layer-3.import-anon-layer-4 {

@layer Y {
  body {
    color: purple;
  }
}
}

@layer import-anon-layer-3 {

body {
  order: 1;
}
}

@layer import-anon-layer-3 {

@media (min-width: 50rem) {
  body {
    order: 2;
  }
}
}

@layer import-anon-layer-3 {

@keyframes RED_TO_BLUE {
  0% {
    background-color: red;
  }
  100% {
    background-color: blue;
  }
}

@supports (display: grid) {
  body {
    display: grid;
    order: 3;
  }
}

@layer A {
  body {
    order: 4;
  }
}
}
