@media (min-width: 25em) {
body {
  background: red;
}

h1 {
  color: grey;
}
}

body {
  background: black;
}

body {
  background: red;
}

h1 {
  color: grey;
}
body {
  background: red;
}
h1 {
  color: grey;
}

@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
